<!-- <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#" class="brand-logo">Servicio La Huerta</a>
      <ul class="right">
        <li><a (click)='authService.SignOut()'>Salir</a></li>
      </ul>
    </div>
  </nav> -->
<app-navbar [save]="save"
            [goBack]="goBack">
</app-navbar>
  <div id="test-swipe-1" class="col s12 grey lighten-2 card">
    <span class="card-title"><b>Estadísticas</b></span>

    <div class="row card-content">
      <div class="row col s12">
        <div class="col s12 m6 l4 center">
          <span><b>{{ currentData.p2 }}</b></span>
          <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p1Data" [legend]="showLegend"
            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
          </ngx-charts-pie-chart>
        </div>
        <div class="col s12 m6 l4 center">
          <span class="center-align"><b>{{ currentData.p3 }}</b></span>
          <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p2Data" [legend]="showLegend"
            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
          </ngx-charts-pie-chart>
        </div>
        <div class="col s12 m6 l4 center">
          <span class="center-align"><b>{{ currentData.p4 }}</b></span>
          <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p3Data" [legend]="showLegend"
            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
          </ngx-charts-pie-chart>
        </div>
      </div>
      <div class="row col s12">
        <div class="col s12 m6 l4 center">
          <span class="center-align"><b>{{ currentData.p6 }}</b></span>
          <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p4Data" [legend]="showLegend"
            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
          </ngx-charts-pie-chart>
        </div>
        <div class="col s12 m6 l4 center">
          <span class="center-align"><b>{{ currentData.p8 }}</b></span>
          <ngx-charts-pie-chart *ngIf="chartdata" [view]="view" [scheme]="colorScheme" [results]="p5Data" [legend]="showLegend"
            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
          </ngx-charts-pie-chart>
        </div>
      </div>    
    </div>
  </div>
  <div id="test-swipe-2" class="col s12 grey lighten-2">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <span class="card-title"><b>Datos de los Clientes</b></span>

          <!-- <div class="row col s12 m4 offset-m8 input-field inline">
            <label for="search" class="black-text" >Buscar</label>
            <input id="search" name="filter_key" type="text" [(ngModel)]="filter_key" autocomplete="off" value="">
          </div> -->

          <div class="card-content">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>No. de Orden</th>
                  <th>Fecha</th>
                  <th style="display:none">{{currentData.p2}}</th>
                  <th style="display:none">{{currentData.p3}}</th>
                  <th style="display:none">{{currentData.p4}}</th>
                  <th style="display:none">{{currentData.p6}}</th>
                  <th style="display:none">{{currentData.p8}}</th>
                  <th>Más...</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let survey of Survey | filter:filter_key | paginate: {itemsPerPage:5,currentPage:p};let i=index; "> -->
                <tr *ngFor="let survey of surveys;let i=index; ">
                  <td>{{survey.name}}</td>
                  <td>{{survey.order}}</td>
                  <td>{{survey.fecha}}</td>
                  <td style="display:none">{{survey.question1}}</td>
                  <td style="display:none">{{survey.question2}}</td>
                  <td style="display:none">{{survey.question3}}</td>
                  <td style="display:none">{{survey.question5}}</td>
                  <td style="display:none">{{survey.question7}}</td>
                  <td><a [routerLink]="['/view/', key, survey.key]" class="btn-floating btn-small waves-effect waves-light teal">+</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls> -->
