<nav class="menu_ no-print">
  <div class="nav-wrapper_">
    <a [routerLink]="['/']" class="brand-logo_">
      <svg  class="svg-logo_">
        <text class="text_" x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">
          <tspan class="tspan_" alignment-baseline="middle" text-anchor="middle">di</tspan>docu
        </text>
      </svg>
    </a>
    <ul class="menu-items_">
      <li><a class="a" [routerLink]="['/stats']">Stats</a></li>
      <li><a class="a" [routerLink]="['/panel']">Panel</a></li>
      <!-- <li><a (click)="add()" class="nav-save-btn">Guardar</a></li> -->
      <li><a class="nav-save-btn_">Guardar</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
